@import '@/assets/scss/_main';

.content-login{
    border: 2px solid $purple;
    border-radius: 5px;

    h5{
        margin-top: 30px;  
    }
}

.input,mt-2,button{
    padding: 2px;
    margin:  2px 8px 8px 2px;
}

button{
    float:right
}

