@import '@/assets/scss/_main';

.imgCentro {
  width: 100%;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.content-login{
  border: 0;
  border-radius: 0;
}