@import '@/assets/scss/_main';

.imgCentro {
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}