@import '@/assets/scss/_main';

.lists{
    width: 100%;
    
    padding: 15px;
    border:1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 15px;

}

b-button {
    padding: 15px;
    
}