@import '@/assets/scss/_main';

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-login{
        width: 400px;
        height: 450px;
        border: 2px solid $purple;
        border-radius: 5px;
        justify-content: center;
        padding: 5px;
        flex-direction: column;

        header{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h5{
            margin-top: 30px;  
        }

    }

}


.input,mt-2,button{
    padding: 2px;
    margin:  2px 8px 8px 2px;
}

button{
    float:right
}

.form{
    //width: 90%;
    margin-top: 40px;
}