@import './colors';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

.main {
    display: flex;
    height: 100vh;
    font-family: Roboto,sans-serif,Tahoma;
}

.content-pages{
    padding: 15px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.alert{
    width: 400px; 
    float:right;
    margin-top: -80px  
}

